NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCP2iL33pidZsvZ5f95Q3BZ3Fc4PUCOo_c
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=queue-app-7cd3a.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=queue-app-7cd3a
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=queue-app-7cd3a.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=102302129579
NEXT_PUBLIC_FIREBASE_APP_ID=1:102302129579:web:12a69f6aaf02f3f0dc86ee
NEXT_PUBLIC_HOST_UID=Ns5kRjvsbfZQnNoSUTiQ68L3DNV2

